/* base.css */

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f0f4f8;
  overflow-x: hidden;
}



/* Hidden Class */
.hidden {
  display: none;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* Section Styling */
.section {
  /* Keep these properties */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  padding-top: var(--navbar-height);
  padding-bottom: var(--footer-height);
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease-in-out;
  z-index: -1; /* Stack sections below the active one */
}

.section.active {
  opacity: 1; /* Show the active section */
  z-index: 1; /* Bring the active section to the front */
}

